<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>

    <!-- Stylesheets -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <!-- Responsive File -->
    <link href="/css/responsive.css" rel="stylesheet">
    <!-- Color File -->
    <link href="/css/color.css" rel="stylesheet">






    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="http://quranten.com//images/favicon.png" type="image/x-icon">
    <link rel="icon" href="http://quranten.com//images/favicon.png" type="image/x-icon">
   
    <!-- new -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- end -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->


</head>

<body>

    <div class="page-wrapper">


        <!-- Main Header -->
        <header class="main-header header-style-one">

            <!-- Header Top -->
            <div class="header-top">
                <div class="auto-container">
                    <div class="inner-container">
                        <div class="left-column">
                            <ul class="contact-info">
                                <li><a href="tel:+919371271243"><i class="fal fa-paper-plane"></i>Krishan Nagar,
                                        Wardha</a></li>
                                <li><a href="mailto:contact@maulimotordrivingschool.in"><i
                                            class="fal fa-envelope-open"></i>contact@maulimotordrivingschool.in</a></li>
                                <li><i class="fal fa-clock"></i>Mon - Sat : 7:30am to 7:00pm</li>
                            </ul>
                        </div>
                        <div class="right-column">
                            <ul class="social-icon">
                                <li><a href="index.php"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="index.php"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="index.php"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="index.php"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="index.php"><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Header Upper -->
            <div class="header-upper">
                <div class="auto-container">
                    <div class="inner-container">
                        <!--Logo-->
                        <div class="logo-box">
                            <div class="logo">
                                <a href="http://localhost:3000/"><img src="/images/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="right-column">
                            <!--Nav Box-->
                            <div class="nav-outer">
                                <!--Mobile Navigation Toggler-->
                                <div class="mobile-nav-toggler"><img src="/images/icons/icon-bar.png" alt="">
                                </div>

                                <!-- Main Menu -->
                                <nav class="main-menu navbar-expand-md navbar-light">
                                    <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                        <ul class="navigation">
                                            <li class="dropdown"><a href="http://localhost:3000/">Home</a>

                                            </li>
                                            <li><a href="http://localhost:3000#about">About Us</a></li>
                                            <li class="dropdown"><a href="http://localhost:3000/rto">RTO Services</a>

                                            </li>
                                            <li class="dropdown"><a href="http://localhost:3000#team">Team</a>

                                            </li>
                                            <li class="dropdown"><a href="http://localhost:3000#gallery">Gallery</a>

                                            </li>
                                            <li><a href="http://localhost:3000#contact">Contact</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <div class="navbar-right">
                                <!-- <button type="button" class="theme-btn search-toggler">


                                    <i class="far fa-search"></i></button> -->
                                <div class="contact-info">
                                    <div class="icon"><span class="fas fa-phone-volume"></span></div>
                                    <div class="content">
                                        <h5>Learn To Drive? Call us</h5>
                                        <h4><a href="tel:+919371271243">+91-9371271243</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Header Upper-->
            <section class="call-buton"><a class="cc-calto-action-ripple" href="tel:+919371271243"><i class="fa fa-phone"></i><span class="num"></span>
            </a>
            </section>

            <!-- Sticky Header  -->
            <div class="sticky-header">
                <div class="header-upper">
                    <div class="auto-container">
                        <div class="inner-container">
                            <!--Logo-->
                            <div class="logo-box">
                                <div class="logo">
                                    <a href="http://localhost:3000/"><img src="/images/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="right-column">
                                <!--Nav Box-->
                                <div class="nav-outer">
                                    <!--Mobile Navigation Toggler-->
                                    <div class="mobile-nav-toggler"><img src="/images/icons/icon-bar.png" alt="">
                                    </div>

                                    <!-- Main Menu -->
                                    <nav class="main-menu navbar-expand-md navbar-light">
                                    </nav>
                                </div>
                                <div class="navbar-right">
                                    <!-- <button type="button" class="theme-btn search-toggler">


                                        <i class="far fa-search"></i></button> -->
                                    <div class="contact-info">
                                        <div class="icon"><span class="fas fa-phone-volume"></span></div>
                                        <div class="content">
                                            <h5>Learn To Drive? Call us</h5>
                                            <h4><a href="tel:+919371271243">+91-9371271243</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Sticky Menu -->

            <!-- Mobile Menu  -->
            <div class="mobile-menu">
                <div class="menu-backdrop"></div>
                <!-- <div class="close-btn"><span class="icon flaticon-remove"></span></div> -->
                <div class="close-btn"><i class="fal fa-times"></i></div>

                <nav class="menu-box">
                    <div class="nav-logo">
                        <a href="http://localhost:3000/"><img src="/images/logo-2.png" alt="" title=""></a>
                    </div>
                    <div class="menu-outer">
                        <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                    </div>
                    <!--Social Links-->
                    <div class="social-links">
                        <ul class="clearfix">
                            <li><a href="http://localhost:3000/"><span class="fab fa-twitter"></span></a></li>
                            <li><a href="http://localhost:3000/"><span class="fab fa-facebook-square"></span></a></li>
                            <li><a href="http://localhost:3000/"><span class="fab fa-pinterest-p"></span></a></li>
                            <li><a href="http://localhost:3000/"><span class="fab fa-instagram"></span></a></li>
                            <li><a href="http://localhost:3000/"><span class="fab fa-youtube"></span></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!-- End Mobile Menu -->

            <div class="nav-overlay">
                <div class="cursor"></div>
                <div class="cursor-follower"></div>
            </div>
        </header>
        <!-- End Main Header -->

        <!--Search Popup-->


        <!-- Page Title -->
        <section class="page-title" style="background-image: url(/images/background/bg-8.jpg);">
            <div class="auto-container">
                <div class="content-box">
                    <div class="content-wrapper">
                        <div class="title">
                            <h1 data-aos="fade-up">RTO Services</h1>
                        </div>
                        <ul class="bread-crumb">
                            <li data-aos="fade-up"><a href="http://localhost:3000/">Home</a></li>
                            <li data-aos="fade-up">RTO Services</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- Course Details -->
        <section class="sidebar-page-container">
            <div class="auto-container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="course-details">
                            <div class="image"><img src="/images/resource/image-25.jpg" alt=""></div>
                            <h3 data-aos="fade-up">All type of RTO services</h3>
                            <div class="text mb-40">
                                <p data-aos="fade-up">Vehicles are a necessary piece of individuals’ lives. Be it a bike, a vehicle, or taxis, Indians depend on these vehicles to meet their transportation needs. Normally RTO Services are usually associated with a driving license
                                    one connects the vehicle business with colossal assembling plants and tempting display areas. Notwithstanding, the back-end administrative angle related to the business regularly goes unnoticed. In this article, we
                                    will know about all types of RTO services. Let’s see some of the important types of RTO services.</p>
                                <h3 data-aos="fade-up">Registration of vehicle
                                </h3>
                                <br>
                                <p data-aos="fade-up">One of the essential duties of an RTO is to keep a vehicle information base. This is done while playing out the vehicle enlistment work. All new vehicles require to be enlisted at the appropriate RTO. That is the manner
                                    by which you get the tag of your vehicle.
                                </p>
                                <p data-aos="fade-up">RTOs likewise handle vehicle enrollment capacities concerning the offer of a vehicle, giving No Objection Certificates in situations where vehicles should be enlisted starting with one state’s RTO then onto the next state’s
                                    RTO and giving vehicle grants.
                                </p>
                                <p data-aos="fade-up">To comprehend the RTO capacities identified with vehicle enrollment, you need to experience the accompanying cycles. Note that the substance introduced underneath is only for your data and may shift starting with one RTO
                                    then onto the next. The cycles may be overhauled later on too.</p>
                            </div>
                            <div class="text-block-two">
                                <div class="row mb-20">
                                    <div class="col-md-6 left-column">
                                        <div class="image"><img src="/images/resource/image-26.jpg" alt="" data-aos="zoom-in"></div>
                                    </div>
                                    <div class="col-md-6 right-column">
                                        <div class="group-title">
                                            <h4 data-aos="fade-up">Vehicle Registration Process at RTO:</h4>
                                        </div>
                                        <div class="text" data-aos="fade-up">In most cases, the registration process is handled by the vehicle dealer. Here’s how the vehicle registration process at RTO pans out.
                                        </div>
                                        <ul class="list">
                                            <li data-aos="fade-up">Step 1 – Fill out the registration form and submit it to the District Transport Office.

                                            </li>
                                            <li data-aos="fade-up">Step 2 – Submit the required documents. Here’s a list: form 20, vehicle’s sales certificate, invoice, policy for the vehicle, applicant’s photos, and identity proof.</li>
                                            <li data-aos="fade-up">Step 3 – An inspecting officer will evaluate your form and therefore the necessary documents. Once approved, you shall receive a vehicle license number and a receipt</li>
                                            <li data-aos="fade-up">Step 4 – Get the registration mark on the vehicle’s number plate in thirty days and seek approval from the registration authority.</li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="group-title">
                                <h4 data-aos="fade-up">Road tax</h4>
                            </div>
                            <div class="text" data-aos="fade-up">The government levies bound taxes associated with the vehicle. The road tax is one such tax. The RTO is to blame for the gathering of the Road Tax. This task is sometimes performed whereas registering the vehicle for the primary
                                time.
                            </div>
                            <div class="group-title">
                                <h4 data-aos="fade-up">Vehicle Check</h4>
                            </div>
                            <div class="text" data-aos="fade-up">RTO conjointly checks if the vehicles on the road go with the foundations mentioned within the motorcars Act. They conduct inspections for an equivalent from time-to-time.
                            </div>
                            <div class="group-title">
                                <h4 data-aos="fade-up">Road safety</h4>
                            </div>
                            <div class="text" data-aos="fade-up">Road accidents are one of the leading causes of death everywhere in the world. The RTO ensures road safety measures are in situ as express within the cars Act.
                            </div>
                            <div class="group-title">
                                <h4 data-aos="fade-up">Transfer of Ownership</h4>
                            </div>
                            <div class="text" data-aos="fade-up">Transfer of ownership is the means by which the ownership of a property is transferred from one hand to another. This includes the purchase of a property, assumption of mortgage debt, exchange of possession of a property, or
                                any other land trust device.

                            </div>
                            <div class="group-title">
                                <h4 data-aos="fade-up">NOC</h4>
                            </div>
                            <div class="text" data-aos="fade-up">A No Objection Certificate or NOC is a legal document that is issued by the Regional Transport Office (RTO). If you intend to move from one state to another and take your two-wheeler with you, you need to re-register your vehicle
                                to the new state. . NOC should be obtained for stays extending 3 months.</div>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <aside class="sidebar sidebar-style-two">

                            <!-- Download Widget -->
                            <div class="widget widget_download">
                                <h3 class="widget-title" data-aos="fade-up">Useful Downloads</h3>
                                <div class="download-pdf">
                                    <div class="icon">
                                        <a href="/pdf/rto.pdf" download><img src="/images/icons/icon-26.png" alt="" data-aos="zoom-in"></a>
                                    </div>
                                    <div class="content">
                                        <h4 data-aos="fade-up">Book on Road Safety Signage & Signs</h4>
                                        <p data-aos="fade-up">Last Update: 22 Feb 2022</p>
                                    </div>
                                </div>
                                <div class="download-pdf">
                                    <div class="icon">
                                        <a href="https://play.google.com/store/apps/details?id=com.pavansgroup.rtoexam&hl=en_IN&gl=US">
                                            <img src="/images/icons/icon-26.png" alt="" data-aos="zoom-in"></a>
                                    </div>
                                    <div class="content">
                                        <h4 data-aos="fade-up">Exam Preparation Application Link</h4>
                                        <p data-aos="fade-up">Last Update: 19 Sep 2020</p>
                                    </div>
                                </div>
                            </div>
                            <div class="widget banner-widget style-two" style="background-image: url(/images/resource/image-24.jpg);">
                                <div class="content">
                                    <div class="image"><img src="/images/resource/image-5.png" alt=""></div>
                                    <h3 data-aos="fade-up">Best Guidence To <br> Each Student, That’s <br> Why We Produce <br> A Confident Drivers <br>
                                    </h3>
                                    <h4 data-aos="fade-up">Join Our Driving Courses, Call us</h4>
                                    <div class="contact-number">
                                        <a href="tel:+919371271243"><i class="fa fa-phone-volume"></i>
                                            +91-9371271243</a>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </section>

        <footer class="main-footer" style="background-image: url(/images/background/bg-1.jpg);">
            <div class="auto-container">
                <!--Widgets Section-->
                <div class="widgets-section">
                    <div class="row clearfix">

                        <!--Column-->
                        <div class="column col-lg-3 col-md-6">
                            <div class="widget about-widget">
                                <div class="logo">
                                    <a href="http://localhost:3000/"><img src="/images/logo-2.png" alt=""></a>
                                </div>
                                <div class="text">WITH THS PROMISE WE MAKE SURE THAT ALL OUR FACILITIES ARE WORLD CLASS AND THE DRIVING COURSE YOU ENROLL WITH US WILL BE ENJOYABLE.</div>
                                <ul class="social-links">
                                    <li><a href="http://localhost:3000/"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="http://localhost:3000/"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="http://localhost:3000/"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="http://localhost:3000/"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="http://localhost:3000/"><i class="fab fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="column col-lg-3 col-md-6">
                            <div class="widget newsletter-widget">
                                <h3 class="widget-title">Newsletter Signup</h3>
                                <div class="widget-content">
                                    <div class="text">Enter your email address to get latest <br> updates and offers from us.</div>
                                    <div class="newsletter-form">
                                        <form class="ajax-sub-form" method="post">
                                            <div class="form-group">
                                                <input type="email" placeholder="Email Address..." id="subscription-email">
                                                <button type="submit" class="theme-btn"><i
                                                        class="fad fa-paper-plane"></i><span></span></button>
                                                <label class="subscription-label" for="subscription-email"></label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="column col-lg-3 col-md-6">
                            <div class="widget links-widget">
                                <h3 class="widget-title">Our Courses</h3>
                                <div class="widget-content">
                                    <ul>
                                        <li><a href="http://localhost:3000/">Learn To Drive Slowly</a></li>
                                        <li><a href="http://localhost:3000/">Courses For Adults</a></li>
                                        <li><a href="http://localhost:3000/">Lessons For Teens</a></li>
                                        <li><a href="http://localhost:3000/">Highway Driving Course</a></li>
                                        <li><a href="http://localhost:3000/">For International Drivers</a></li>
                                        <li><a href="http://localhost:3000/">Automatic Car Lessons</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="column col-lg-3 col-md-6">
                            <div class="widget contact-widget">
                                <h3 class="widget-title">Contact Us</h3>
                                <div class="widget-content">
                                    <ul class="contact-info">
                                        <li>
                                            <div class="icon"><span class="fas fa-flag"></span></div>
                                            <div class="text">Krishan Nagar, Wardha(442001) <br> Maharashtra</div>
                                        </li>
                                        <li>
                                            <div class="icon"><span class="fas fa-phone-volume"></span></div>
                                            <div class="text">
                                                Helpline 24/7 <br>
                                                <a href="tel:+91-9371271243">+91-9371271243</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon"><span class="fas fa-clock"></span></div>
                                            <div class="text">
                                                Mon to Friday <br> 7:30 am to 7:00 pm
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="auto-container">
                    <div class="wrapper-box">
                        <div class="copyright">
                            <div class="text">(c) 2022 Mauli Group - Driving School. All rights reserved.</div>
                        </div>
                        <div class="footer-menu">
                            <ul>
                                <li><a href="https://cosmosdigitalservices.in/">Design by Cosmos Digital </a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    <!--End pagewrapper-->

    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"> <i class="fad fa-angle-double-right" style="font-size: x-large !important;"></i></div>

    <script src="/js/jquery.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-select.min.js"></script>
    <script src="/js/jquery.fancybox.js"></script>
    <script src="/js/isotope.js"></script>
    <script src="/js/owl.js"></script>
    <script src="/js/appear.js"></script>
    <script src="/js/wow.js"></script>
    <script src="/js/lazyload.js"></script>
    <script src="/js/scrollbar.js"></script>
    <script src="/js/TweenMax.min.js"></script>
    <script src="/js/swiper.min.js"></script>
    <script src="/js/jquery.polyglot.language.switcher.js"></script>
    <script src="/js/jquery.ajaxchimp.min.js"></script>
    <script src="/js/parallax-scroll.js"></script>

    <script src="/js/script.js"></script>
 
</body>

</html>