.team-section{
    padding: 20px 0px 90px;
}
.delete-icon i{
    font-size: 25px;
}.delete-icon{
    margin: 20px ;
}
.delete-icon  :hover{
    transform: scale(1.2);
}
.team-block .image:before{
    border: none;
   
}
.team-block .image {
    background-color: transparent;
}
.inner-box{
    width: max-content;
}
.col-lg-3{
    width: max-content;
}
.team-block{
    width: max-content !important
}
@media (min-width: 992px) {
    .col-lg-3 {
      max-width: max-content;
    }           }

    .icon-box img{
        height: 320px !important;
        max-width:  max-content !important;
    }
    .edit-icon{
        position: absolute; 
        top: 20px; 
        right: 80px; 
        cursor: pointer;
    }
    .edit-icon i{
        font-size: 25px;
    }
    .edit_content_Form:hover{
        z-index: 100000000000000000000000000000000000000000000 !important;
    }
    .edit_content_Form{
        margin-top: 30px;
    }